
@import 'variables';

.blue{
color: $blue;
}  
.indigo{
color: $indigo;
}
.purple{
color: $purple;
}
.pink{
color: $pink ;
} 
.red{
color: $red ;
}
.orange{
color: $orange ;
}
.yellow
{
    color: $yellow ;
}
.green{
    color: $green ;
}
.teal{
    color: $teal ;
}
.cyan{
    color: $cyan ;
} 

.linkActive{
    background-color:#007bff!important;//
    color: #fff!important;
}